@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: var(--main-green);
}

:root {
  --black-green: #011502;
  --dark-green: #104F55;
  --oak-green: #32746D;
  --main-green: #9EC5AB;

  --white: #ececec;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background: var(--black-green);
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .8rem;
  border: none;
  outline: solid 2px var(--oak-green);
  border-radius: 6px;
}

.card-addTask {
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background: var(--dark-green);
}
